:root {
  --main-color: #4c8cf8;
  --secondary-color: #1fe5d1;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0; /* If you want to hide both scrollbars */
}

/* ----------------------------------------------------------------------------

LOGIN SCREEN CSSS

----------------------------------------------------------------------------- */
body {
  background-color: #f1f0ff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.welcome-h3 {
  margin: 0;
}

.login-textfield {
  width: 100% !important;
}

.login-form {
  width: 100%;
}

/* ----------------------------------------------------------------------------

Header Sidebar CSS

----------------------------------------------------------------------------- */

.sidebar-main-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-div {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-items-btn {
  gap: 10px;
}

.list-items {
  padding-left: 25px;
}

.list-items.selected {
  background-color: var(--main-color);
  color: white;
}

.selected {
  background-color: #1976d2;

  color: white;
}

.menu-icon {
  position: absolute !important;
  padding-left: 25px !important;
  padding-top: 15px !important;
}

.bg-dark {
  background-color: darkblue;
}

.header-box {
  box-shadow: none !important;
  background-color: white !important;
  color: black !important;
  gap: 15px;
}

.header-toolbar,
.header-icon-box {
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-div {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(209, 209, 209);
}

.profile-icon-div-btn {
  width: 100% !important;
  height: 100% !important;
}
.profile-icon-div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.profile-picture {
  width: 50px !important;
  height: 50px !important;
}

/* ----------------------------------------------------------------------------

ADMIN DASHBOARD CSS START

----------------------------------------------------------------------------- */

.adminDashboard-cards {
  background-color: #eff6fe !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.adminDashboard-cards:hover {
  background-color: var(--main-color) !important;
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.notice-board-add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  font-size: 25px;
  height: 30px;
}

.notice-board-imgs {
  width: 50px;
  height: 50px;
}

.notice-board-view-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  font-size: 15px;
  height: 30px;
}

.event-calender-div {
  width: 25%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
}

.pie-chart-count{
  position: absolute;
  margin-top: 175px;
}

@media (max-width: 1581px) {
  .event-calender-div {
    width: 30% !important;
  }
}

@media (max-width: 1389px) {
  .event-calender-div {
    width: 35% !important;
  }
}

@media (max-width: 1199px) {
  .event-calender-div {
    width: 50% !important;
  }
}

@media (max-width: 1005px) {
  .event-calender-div {
    width: 55% !important;
  }
}

@media (max-width: 899px) {
  .event-calender-div {
    width: 100% !important;
  }
}


.Dashboard-fileUpload-box #myinputfile::-webkit-file-upload-button{
  -webkit-appearance: none;
  float: right;
  position: absolute;
  margin: -10px 0 0 0;
  right: 3%;
  padding-top: 12px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  opacity: 0;
  z-index: 9999;
}

.Dashboard-fileUpload-box input[type="file"] {
  -webkit-appearance: none;
  text-align: left;
  padding-top: 5px;
  color: gray;
  width: 100% !important;
  padding-left: 20px;
  z-index: 9699;
}

.upload-btn {
  border: 1px solid green;
  color: white;
  display: flex !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: green;
  padding: 8px;
  border-radius: 0 10px 10px 0;
  font-size: 18px;
  position: absolute;
  right: 3%;
  margin-top: 33px;
  width: 102px !important;
}