
body{
  background-color: #f1f0ff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.welcome-h3{
  margin: 0 ;
}

.login-textfield{
  width: 100%!important;
}

.login-form{
  width: 100%;
}