
:root{
  --main-color: #4c8cf8;
  --secondary-color: #1fe5d1;
}
.sidebar-main-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-div{
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-items-btn{
  gap: 10px;
}

.list-items{
  padding-left: 25px;
}

.list-items.selected{
  background-color: var(--main-color);
  color: white;
}

.menu-icon{
  position: absolute !important;
  padding-left: 25px !important;
  padding-top: 15px !important;
}

.bg-dark{
  background-color: darkblue;
}

.header-box{
  box-shadow: none !important;
  background-color: white !important;
  color: black !important;
  gap: 15px;
}

.header-toolbar ,.header-icon-box{
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-div{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(209, 209, 209);
}

.profile-icon-div-btn{
  width: 100% !important;
  height: 100% !important;
}
.profile-icon-div{
  height: 50px;
  width: 50px;
  border-radius: 50%;

}

.profile-picture{
  width: 50px !important;
  height: 50px !important;
}